/* linksCell.css */

.links-cell-editor {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
}

.links-cell-editor button {
  color: var(--gdg-accent-color);
  font-weight: 600;
  align-self: flex-end;
  border: none;
  outline: none;
  background-color: transparent;
  transition: background-color 200ms;
  border-radius: 4px;
  padding: 6px 8px;
  cursor: pointer;
}

.links-cell-editor button:hover,
.links-cell-editor button:focus-visible {
  background-color: var(--gdg-accent-light);
}

.links-cell-editor button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

.link-title-editor {
  display: flex;
  min-width: 250px;
  margin-bottom: 4px;
}

.link-title-editor input {
  outline: none;
  border: 1px solid var(--gdg-border-color);
  border-radius: 4px;
  box-shadow: none;
  padding: 6px 8px;
  min-width: 0;
  width: 0;
  flex-grow: 1;
  transition: border 200ms;
}

.link-title-editor input:focus {
  border: 1px solid var(--gdg-accent-color);
}

.link-title-editor input:not(:last-child) {
  margin-right: 4px;
}

.link-title-editor button {
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 200ms, color 200ms;
  color: var(--gdg-text-medium);
}

.link-title-editor button:hover,
.link-title-editor button:focus-visible {
  background-color: var(--gdg-accent-light);
  color: var(--gdg-text-dark);
}
